<form method="post" action="/report" class="form" enctype="multipart/form-data">
	<fieldset>
    <legend>New parking report</legend>
	<div class="form-item">
    <label>Parking time CSV</label>
		<input type="file" name="parking_report" class="w50">
	</div>
	<div class="form-item">
    <label>License plate PDF</label>
		<input type="file" name="license_report" class="w50">
	</div>
  <button type="submit">Process</button>
</fieldset>
</form>
