<form method="post" action="/report" class="form" enctype="multipart/form-data">
	<fieldset>
    <legend>Parking report</legend>
	<div class="form-item">
		<input type="file" name="report" class="w50">
		<button type="submit">Process</button>
	</div>
</fieldset>
</form>
