<!DOCTYPE html>
<html>
<head>
    <title>Skypark</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/kube.min.css">
    <link rel="stylesheet" href="css/skypark.css">
</head>
<body>
  <div class="row gutters">
    <div class="col col-3"><h3><a href="/">Skypark</a></h3></div>
    <div class="col col-9"><span class="muted small">Car owners in registry:</span> <span class="label focus"><%= license_plates.size %></span></div>
  </div>
  <%= yield %>
  <!-- Kube JS + jQuery are used for some functionality, but are not required for the basic setup -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/kube.min.js"></script>
  <script src="js/skypark.js"></script>
</body>
</html>
